<mat-toolbar class='mat-elevation-z4 bg-primary' [ngClass]="{'disconnected': mopidy.connectionFailure}">

  <div class='logo'>
    <mat-icon>queue_music</mat-icon>
    <span>Kiosk</span>
    <span class='beta'>ALPHA</span>
  </div>

  <span class="spacer"></span>
  <span [ngSwitch]="mopidy.connectionFailure">
    <h2 *ngSwitchCase="true">Connection Failure</h2>
    <app-now-playing *ngSwitchCase="false"></app-now-playing>
  </span>

  <span class="spacer"></span>

  <app-search></app-search>
</mat-toolbar>
