.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.disconnected {
  background-color: darkred;
}

mat-icon {
  padding-right: 29px;
  font-size: 64px;
  top: 3px;
  position: relative;
}

.logo {
  padding-right: 50px;
}

.logo span {
  top: -19px;
  font-size: x-large;
  position: relative;
}

.spacer {
  flex: 1 1 auto;
}
