.header {
  text-align: center;
  font-size: large;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 6px;
  text-align: left;
}

tr:hover {
  background-color: rgb(200, 200, 200);
}
